.main{
    width: 350px;
    height: 450px;
    background-color: antiquewhite;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

.image1 img{
    width: 300px;
    height: 250px;
    margin-top: 20px;
}

.content h3{
    color: rgb(86, 86, 140);
    margin-left: 50px;
    text-transform: capitalize;
    font-size: 15px;
}

.content button{
    background-color: rgb(224, 193, 136);
    margin-left: 80px;
}

.parent{
    display: flex;
}