 /* address{
    background-color: antiquewhite;
    border-radius: 20px;
    width: 500px;
    height: 40px;
    margin-left: 25%;
    margin-top: 30px;
}

button{
    color: aqua;
    background-color:black;
    margin-top: 10px;
}  */




.prnt{
    width: 96%;
    display: flex;
    background-color: black;
    margin-top: 20px;
    margin-left: 34px;
    border-radius: 15px;
}

.logo h1{
    font-size: 24px;
    color: rgb(80, 94, 108);
    align-items: start;
    margin-left: 49px;
    margin-top: 30px;
}

.logo h2{
    color: rgb(85, 99, 113);
    font-size: 14px;
    margin-left: 50px;
}

.weebly h1{
    color:  rgb(85, 99, 113);
    font-size: 14px;
}

.ser h1{
    color:  rgb(85, 99, 113);
    font-size: 14px;
}

.show h1{
    color:  rgb(85, 99, 113);
    font-size: 14px;
}
.icon img{
    width: 50px;
    height: 50px;
}

hr{
    width: 400px;
    margin-top: 30px;
    margin-right: 180px;
}