header{
    background-color: rgb(82, 57, 57);
    width: 93em;
    height: 80px;
    margin-left: 23px;
    display: flex;
}

input{
    height: 50px;
    width: 820px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 90px;
}

button{
    width: 180px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

li{
    display: flex;
    color: #fff;
    margin: 25px;
    font-size: 19px;
    text-transform: capitalize;
    margin-left: 35px;
}